.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Gris oscuro */
    color: rgb(0, 0, 0);
    padding: 20px;
    
    width: 100%; /* Ocupa toda la anchura de la página */
    box-sizing: border-box;
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  }
  
    .logo {
      font-size: 30px;
      margin: 0;
      font-family: 'Lilita One', sans-serif;
      font-size: 1.8rem;
      font-weight: bold;
      color: #000000; /* Azul tipo Tailwind blue-600 */
    }
    .bodyContainer {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      
      h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
      }
      
      li {
        margin-bottom: 10px;
      }
      
      .button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      .deleteButton {
        background-color: #f44336; /* Rojo */
        color: white;
      }
      
      .deleteButton:hover {
        background-color: #d32f2f;
      }
      
      .editButton {
        background-color: #4caf50; /* Verde */
        color: white;
      }
      
      .editButton:hover {
        background-color: #388e3c;
      }
      .page {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        background: url('/images/fondo-landing.jpg') center;
        background-size: cover;
        color: #ffffff;
        text-align: center;
        font-size: 1.5rem;
        gap: 0px;
        padding: 4rem; /* Asegura que los hijos respeten márgenes */
        box-sizing: border-box;
      }