.page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  background: url('../../../../public/images/fondo-landing.jpg') center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  gap: 0px;
  padding: 4rem; /* Asegura que los hijos respeten márgenes */
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el body ocupe toda la altura de la página */
  background-color: #000; /* Si quieres un fondo negro para la página */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centra horizontalmente */
  justify-content: center;
  text-align: center;
  margin-top: 51px;
}

.logo {
  width: 230px;
  height: auto;
  margin: 1.5rem 0;
}

.button {
  background-color: #27a847;;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border: 7px inset rgba(255, 255, 255, 0.596);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: #1e8137;
}


/* Contenedor de las tarjetas */
.cardsContainer {
  display: flex;
  flex-wrap: wrap; /* Importante para que se distribuyan en varias filas si es necesario */
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

/* Estilos para cada tarjeta */
.card {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #bbb;
}

.headerText {
  border: 7px solid rgba(255, 255, 255, 0.596);
  padding: 20px 40px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  font-family: 'Lilita One', sans-serif;
}

.headerText p {
  font-family: 'Lilita One', sans-serif;
}

.headerText h1,
.headerText p {
  color: white;
  position: relative;
  transition: color 0.3s ease;
}

.headerText h1::after,
.headerText p::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.headerText:hover {
  border-color: #ff5e5e; /* Cambia el color del óvalo */
  box-shadow: 0 0 20px rgba(255, 94, 94, 0.6); /* Añade efecto glow */
}

.headerText:hover h1,
.headerText:hover p {
  color: #eb8a8a; /* Color neón guapo */
}

.headerText:hover h1::after,
.headerText:hover p::after {
  transform: scaleX(1);
  background: #ff5e5e;
}


.cardsWrapper {
  background-color: #464646;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  margin: 40px;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #444;
}


.headerTitle {
  font-size: 30px;
  margin: 0;
  font-family: 'Lilita One', sans-serif;
}

.loginButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Gris oscuro */
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 14px;
  width: 100%; /* Ocupa toda la anchura de la página */
  box-sizing: border-box;
  position: fixed; /* Fija el header en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
}
