@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-6 py-2 rounded-xl font-semibold text-white bg-blue-600 hover:bg-blue-700 transition duration-300 ease-in-out shadow-md;
  }

  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-500 hover:bg-gray-600;
  }

  .btn-outline {
    @apply border border-blue-600 text-blue-600 bg-transparent hover:bg-blue-600 hover:text-white;
  }


}
html,
body {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page {
  flex: 1;
  display: flex;
  padding-top: 4rem;
  background: linear-gradient(135deg, #cc95c0
  , #dbd4b4, #7aa1d2);
  background-size: cover;
  flex-direction: column;
  align-items: center;
}

@keyframes spinBorder {
  100% {
    transform: rotate(360deg);
  }
}

.animated-border {
  position: relative;
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.animated-border:hover {
  transform: scale(1.1);
}

.animated-border::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    #f1d1ff, #c1e6ff, #7facd8, #f1d1ff
  );
  z-index: 0;
  animation: spinBorder 4s linear infinite;
  mask: radial-gradient(farthest-side, transparent 84%, black 85%);
  -webkit-mask: radial-gradient(farthest-side, transparent 84%, black 85%);
}
